:host {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(0, 0, 0, 0.05);
  height: 64px;
}

.date:hover {
  cursor: pointer;
}
